<% extend('layout') -%>

<h1>Results</h1>

<table class="table" id="filtered_results">
	<thead class="thead-dark">
		<tr>
			<th scope="col">id</th>
			<th scope="col">Loan Date</th>
			<th scope="col">Due Date</th>
			<th scope="col">Loan Code</th>
			<th scope="col">Loan Amount</th>
			<th scope="col">Customer Station</th>
			<th scope="col">Customer ID</th>
			<th scope="col">Loan Status</th>
		</tr>
	</thead>
	<tbody id="results_body">
		<% if(data.length){ for(let i=0; i < 10; i++) { %>

		<tr>
			<th scope="row"><%= (i + 1) %></th>
			<td><%= moment(data[i].loan_date).format('DD-MM-YYYY') %></td>
			<td><%= moment(data[i].due_date).format('DD-MM-YYYY') %></td>
			<td><%= data[i].loan_code %></td>
			<td><%= data[i].loan_amount %></td>
			<td><%= data[i].customer_station %></td>
			<td><%= data[i].customer_id %></td>
			<td><%= data[i].loan_status %></td>
		</tr>

		<%} } else { %>
		<tr>
			<td>No records</td>
		</tr>

		<% } %>
	</tbody>
</table>

<div class="button-box" style="text-align: right;">
	<a href="/xlsdownload" class="btn btn-success" id="btnExportToXls">Export as XLS</a>
	<a href="#" class="btn btn-success" id="btnExportToCsv">Export as CSV</a>
	<a href="/pdfdownload" class="btn btn-info">Export as PDF</a>
</div>
