<% extend('layout') -%>

<h1>Welcome to increase capital <%= name %></h1>
<h4>These are the station names and their targets</h4>

<table class="table">
	<thead class="thead-light">
		<tr>
			<th scope="col">id</th>
			<th scope="col">Station Name</th>
			<th scope="col">Daily Target</th>
			<th scope="col">Monthly Target</th>
		</tr>
	</thead>
	<tbody>
		<% if(data.length){ for(let i=0; i < data.length; i++) { %>

		<tr>
			<th scope="row"><%= (i + 1) %></th>
			<td><%= data[i].station_name %></td>

			<td><%= data[i].daily_target !== 0 ? data[i].daily_target : "-" %></td>
			<td><%= data[i].monthly_target !== 0 ? data[i].monthly_target : "-" %></td>
		</tr>

		<%} } else { %>
		<tr>
			<td>No records</td>
		</tr>

		<% } %>
	</tbody>
</table>
